@import '../../../../assets/mixins/mixins';
@import '../../../../assets/variables/variables';

.AddExcursionForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding: 26px 36px 31px 40px;
    border: 2px solid #fff;
    margin-top: 40px;
}

.AddExcursionFields {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.AddExcursionError {
    color: $btn-bg;
}

.AddExcursionTitle {
    @include fonts(30px, $main-font);
    margin-bottom: 10px;
}

.ExcursionList {
    max-width: 700px;
    margin: 0 auto 80px;
    @include fonts(18px, $secondary-font);
}

.ExcursionItem {
    border: $brd-white;
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.TriggerButton {
    text-align: center;
}

.FormButtons {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}